h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: green;
}

#uno{
font-style: italic;
color: white;
}

#dos{
    color: yellow;

}

#tres{
color: gold;
}

#cuatro{
    font-style: italic;
    color: white;
}

#cinco{
    color: gold;
}

#seis{
color: red;
}

#siete{
    color: yellow;
}

#ocho{
    color: red;
}