h1{
    color: black;
    font-size: 50px;
    text-align: center;
}
h2{
    background-color: gray;
    color: white;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 204, 204);
}


img{
    float: left;
}
div{
    padding: 10px;
    margin-left: 120px;
    width: 80%;
  }

em{
    color: red;
}

p{
    text-align: right;
}
strong{
    background-color: white;
}